*{
padding:0px;
margin:0px;
}
.logg{
height:36px;
 
 
}
 
.a2{
 margin:auto;
 text-decoration:none;
font-size:25px;
 color: #283E51  ;

}
.a2:hover{
 color:   gray;
}
.vverx{
width:100%;
height:40px;
display:flex;
align-items:center;
 
  
}
.menu{
display:flex;
  background: linear-gradient(to bottom right,#4B79A1 ,#283E51  );
align-items:center;
justify-content:center;
 margin:0px 0px 10px 0px;
  position: sticky;
  top: 0; 
}
.menu1{
display:flex;
    
}
.a1{
    font-size:20px;
display:block;
padding:10px 10px 10px 10px;
text-decoration:none;
color:white;
}
.a1:hover{
  background:  #928DAB;
border-right:1px solid white;
border-left:1px solid white;
 padding:10px 9px 10px 9px;
 
}
 
.knopka{
font-size:20px;
padding-inline:5px;
padding-bottom:3px;
 border:none;
 background: linear-gradient(to bottom right,#4B79A1 ,#283E51  );
color:white;
cursor:pointer;
}
.knopka{
 display:none;
}
.center{
width:100%;
  
 
display:flex;
justify-content:center;
}
.center1{
  padding:20px;
width:1450px;
 
 



display:grid;
grid-template-columns: repeat(auto-fill, 350px);
gap:15px;
 justify-content: center;

}
.karta{
 height:350px;
   background: linear-gradient( to bottom right, #4B79A1,  #283E51 );
    box-shadow:
  1px -0px rgb(23,35,54), 1px -1px rgb(35,57,83),
  2px -1px rgb(22,34,53), 2px -2px rgb(34,56,82),
  3px -2px rgb(21,33,52), 3px -3px rgb(33,55,81),
  4px -3px rgb(20,32,51), 4px -4px rgb(32,54,80),
  5px -4px rgb(19,31,50), 5px -5px rgb(31,53,79),
  6px -5px rgb(18,30,49), 6px -6px rgb(30,52,78);
 padding:10px;

}
span1{
font-size:16px;
  color:  white ;
}
span4{
font-size:20px;
  color:  white ;
}

span2{
  color:  white ;
font-size:12px;
}
span3{
font-size:25px;
 color:   #283E51 ;
}
span5{
font-size:13px;
color:  white;
}
.zagolovok{
width:100%;
height:40px;
 text-align:center;
}
.img1{
width:100%;
height:200px;
 border-radius:10px;
}
.karta1{
 height:350px;
   background: linear-gradient( to bottom right, #4B79A1,  #283E51 );
    box-shadow:
  1px -0px rgb(23,35,54), 1px -1px rgb(35,57,83),
  2px -1px rgb(22,34,53), 2px -2px rgb(34,56,82),
  3px -2px rgb(21,33,52), 3px -3px rgb(33,55,81),
  4px -3px rgb(20,32,51), 4px -4px rgb(32,54,80),
  5px -4px rgb(19,31,50), 5px -5px rgb(31,53,79),
  6px -5px rgb(18,30,49), 6px -6px rgb(30,52,78);
 padding:10px;
 display:flex;
  text-align:center;
flex-direction:column;
}
.a3{
 margin:auto;
 text-decoration:none;
font-size:20px;
color: #FFD200 ;
   position:absolute;
  
}
.a3:hover{
color:  white;
 
}
.vverx{
width:100%;
height:40px;
display:flex;
align-items:center;
 
  
}
.ka1{
 
 
width:100%;
 height:100%;
 display:flex;
align-items:  end  ;
 justify-content: end;
}
.niz{
 display:flex;
 justify-content:center;
width:100%;
 
 
  background: linear-gradient(to bottom right,#4B79A1 ,#283E51  );
}
.niz1{
width:1450px;
display:flex;
align-items: center ;
justify-content: space-between;
}
.imf1{
margin:4px 3px 0px 3px;
width:100px;
 height:44px;
border-radius:5px;
}
.yy{
margin:0px 6px 0px 6px;
}
 















































 


   


  






































@media(max-width:1501px){
.a1{
 font-size:16px;
display:block;
padding:10px 10px 10px 10px;
text-decoration:none;
color:white;
}
.a1:hover{
  background:  #928DAB;
border-right:1px solid white;
border-left:1px solid white;
 padding:10px 9px 10px 9px;
 
} 
.center{
width:100%;
 
 
display:flex;
justify-content:center;
}
.center1{
  padding:20px;
width:1450px;
 
 



display:grid;
grid-template-columns: repeat(auto-fill, 350px);
gap:15px;
 justify-content: center;

}
}




@media(max-width:1135px){
.niz1{
width:1450px;
display:block;
align-items: center ;
 
justify-content: space-between;
}

.center{
width:100%;
 
 
display:flex;
justify-content:center;
}
.center1{
  padding:20px;
width:1450px;
 
 



display:grid;
grid-template-columns: repeat(auto-fill, 350px);
gap:15px;
 justify-content: center;

}
}




































@media(max-width:1000px){
.knopka{
font-size:20px;
padding-inline:5px;
padding-bottom:3px;
 border:none;
 background: linear-gradient(to bottom right,#4B79A1 ,#283E51  );
color:white;
 cursor:pointer;
 display:block;
 
}
.menu{
display:flex;
  background: linear-gradient(to bottom right,#4B79A1 ,#283E51  );
justify-content:left;
}
.menu1{
display:none;
  
}
.drop:hover .menu1{
display:block;
position:absolute;
 background: linear-gradient(to bottom right,#4B79A1 ,#283E51  );
}
.center1{
  
width:900px;
 
 
border:0px solid  ;
border-radius: 0px;




display:grid;
grid-template-columns: repeat(auto-fill, 335px);
gap:20px;
   

}
.karta{
  height:335px;
  background: linear-gradient( to bottom right, #4B79A1,  #283E51 );
    box-shadow:
  1px -0px rgb(23,35,54), 1px -1px rgb(35,57,83),
  2px -1px rgb(22,34,53), 2px -2px rgb(34,56,82),
  3px -2px rgb(21,33,52), 3px -3px rgb(33,55,81),
  4px -3px rgb(20,32,51), 4px -4px rgb(32,54,80),
  5px -4px rgb(19,31,50), 5px -5px rgb(31,53,79),
  6px -5px rgb(18,30,49), 6px -6px rgb(30,52,78);
 
}
.karta1{
 height:335px;
   background: linear-gradient( to bottom right, #4B79A1,  #283E51 );
    box-shadow:
  1px -0px rgb(23,35,54), 1px -1px rgb(35,57,83),
  2px -1px rgb(22,34,53), 2px -2px rgb(34,56,82),
  3px -2px rgb(21,33,52), 3px -3px rgb(33,55,81),
  4px -3px rgb(20,32,51), 4px -4px rgb(32,54,80),
  5px -4px rgb(19,31,50), 5px -5px rgb(31,53,79),
  6px -5px rgb(18,30,49), 6px -6px rgb(30,52,78);
}
}






@media(max-width:745px){
.center{
width:100%;
 
 
display:flex;
justify-content:center;
}
.center1{
  padding:20px;
width:1450px;
 
 



display:grid;
grid-template-columns: repeat(auto-fill, 330px);
gap:15px;
 justify-content: center;

}
}